/*
Text field

Unless otherwise modified, the field should be nested in a DIV or some sort of
section so as to limit its default 100% width.

Markup:
<input class="text-field border-box bg-black color-medium-gold {$modifiers}" type="text">

.border-white - default state
.border-gold - for when the field is in focus

Styleguide 7
*/

.text-field {
  display: block;
  font-size: 18px;
  line-height: 1.65;
  padding: 0;
  text-indent: 5px;
}
