/*
Text labels

These text labels may be used to display text anywhere in a page and be
customized as needed.

Styleguide 12.0
*/

/*
Text label -- default

This is the default text label, which is seen throughout the website.

Markup:
<label class="text-label--default {$modifiers}">Forward Label's text</label>

.color-white - the most used color
.color-medium-gold - another option

Styleguide 12.1
*/

.text-label--default {
  display: inline-block;
  font-size: 14px;

  line-height: 1.1;
}

/*
Text label -- option

This text label is meant for usage in components like the dropdown menu,
the combo box and other components which need a consistent look for a text
holding element.

Markup:
<label class="text-label--menu {$modifiers}">All - one option</label>

.color-white - the most used color
.color-medium-gold - another option

Styleguide 12.1
*/

.text-label--menu {
  display: block;
  font-size: 14px;
  line-height: 1;
}
