.btn
  cursor pointer
  margin 0 4px 4px 0
  margin 0 .2rem .2rem 0
  padding 4px 10px 6px
  padding .2rem .5rem .3rem

.btn--default
  background rgb(56, 33, 0)
  border 1px solid rgb(140, 85, 34)
  color rgb(255, 255, 255)
  font-size 15px
  font-size .75rem
  line-height 1.2
  text-transform uppercase

.btn--defaulthover
  background rgb(0, 0, 0)

.btn.right
  margin 0 0 4px 4px
  margin 0 0 .2rem .2rem

.btn--selected
  background rgb(0, 0, 0)
  border-color rgb(226, 135, 1)
  color rgb(226, 135, 1)
  cursor default

.list-option
  cursor pointer
  margin 0
  padding 8px 5px
  padding .4rem .25rem
  word-wrap break-word

.btn--round
  border-radius 50%

.btn--close
  border-radius 50%
  font-size 9px
  height 16px
  line-height 0
  padding 0
  position absolute
  right -8px
  text-align center
  top -4px
  vertical-align middle
  width 16px
  z-index 1

.btn--expand-section
  background rgb(1, 41, 51)
  height 16px
  line-height 0
  margin 0
  padding 0
  vertical-align middle
  width 16px
